<div class="container">
    <h3>User ID: {{id}}</h3>
    <hr>
    <h3>User Name: {{name}}</h3>
    <hr>
    <h3>User E-mail: {{email}}</h3>
</div>
{{#if projects.length}}
<div class="col-sm-12">
    <section class="container">
        {{#each projects as |project|}}
        <h3 class="project-name">{{project.name}}</h3>
        <h5>Date Created: {{project.date_created}}</h5>
        <h5>This project needs: {{project.needed_funding}}$</h5>
        <div>
            <div class="progress mb-2">
                <div class="progress-bar bg-info"
                    style="width: {{ progress_left project.needed_funding project.collected_funding}}%"
                    role="progressbar"
                    aria-valuenow="{{progress_left project.needed_funding project.collected_funding}}" aria-valuemin="0"
                    aria-valuemax="100">
                    <span>
                        {{progress_left project.needed_funding project.collected_funding}}% funded
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</div>
{{/if}}